<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389184505870-4f7vvmi8slisaq4t3mvf6ik98t3r8n7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389184505870-4f7vvmi8slisaq4t3mvf6ik98t3r8n7r</string>
	<key>API_KEY</key>
	<string>AIzaSyB3WOX3nPTttHitaHZGC43Spl4pY_vNAzs</string>
	<key>GCM_SENDER_ID</key>
	<string>389184505870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>blocauth-102c7</string>
	<key>STORAGE_BUCKET</key>
	<string>blocauth-102c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389184505870:ios:cbff93f46b9ea08330145f</string>
</dict>
</plist>